<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<div class="SBA" style="width:125px; height:125px; overflow: hide;">
<hr />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- CT-GBH-Small-Author-Left -->
<ins class="adsbygoogle"
     style="display:inline-block;width:125px;height:125px"
     data-ad-client="ca-pub-8967540800069756"
     data-ad-slot="7382213261"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- CT-GHP-Main-TOP -->
<!--<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8967540800069756"
     data-ad-slot="4962608427"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
</div>

